@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* @layer utilities { */
.after-focus-within {
  &:focus-within {
    border-color: transparent;

    &&::after {
      transform: scaleX(1);
    }
  }
}
/* } */
