@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.after-focus-within {
  &:focus-within {
    border-color: transparent;

    &&::after {
      transform: scaleX(1);
    }
  }
}

.linear-gradient {
  background-image: linear-gradient(
      to right,
      hwb(344 34% 8% / 0.41),
      hwb(344 34% 8% / 0.41)
    ),
    linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  background-position: 0 0, 54 0;
  background-size: 54px 100%, 100% 100%;
}

.skeleton {
  &:empty {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, gray, gray),
      linear-gradient(to right, gray, gray), linear-gradient(to right, gray, gray),
      linear-gradient(to right, gray, gray), linear-gradient(to right, gray, gray);
    background-position: 24px 55px, left 0 bottom 0, 108px 77px, 108px 97px, 108px 117px;
    background-size: 60px 100px, 100% 40px, 140px 16px, 120px 16px, 160px 16px;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
      );
      animation: shimmer 1.2s infinite;
    }
  }
}

.skeletonResult {
  &:empty {
    position: relative;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, gray, gray),
      linear-gradient(to right, gray, gray), linear-gradient(to right, gray, gray),
      linear-gradient(to right, gray, gray), linear-gradient(to right, gray, gray),
      linear-gradient(to right, gray, gray), linear-gradient(to right, gray, gray);
    background-position: 40px 40px, 136px 50px, 136px 80px, 136px 110px, 40px 172px,
      40px 270px, 40px 372px;
    background-size: 80px 100px, calc(70% - 176px) 20px, calc(100% - 176px) 20px,
      calc(80% - 176px) 20px, calc(100% - 80px) 82px, calc(100% - 80px) 82px,
      calc(100% - 80px) 82px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        to right,
        transparent,
        rgba(white, 0.2),
        transparent
      );
      animation: shimmer 1.2s infinite;
    }
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
